* {
    font-family: 'Courier New', 'Times New Roman', monospace;
} 

body {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

.body-recipe {
    width: 1100px;
}

a:visited {
    color: rgb(255, 0, 0);
}

a:link {
    color: rgb(7, 177, 7);
}

.index.header,
.recipes-list
 {
    text-align: center;
}

.recipes-list {
    list-style: none;
    padding: 0;
}

.odin-cooking {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 400px;
} 